.filterDiv {
    display: none;
}

.show {
    display: block;
}

a {
    display: block;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

img {
    max-height: 178px;
}

#field {
    position: relative;
}

.icons {
    position: absolute;
    top: 56%;
    left: 71%;
}

#field .icons span {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid;
    line-height: 23px;
    display: none;
}

#field .icons span.icon1 {
    color: #e74c3c;
    border-color: #e74c3c;
}

#field .icons span.icon2 {
    color: #27ae60;
    border-color: #27ae60;
}

.cart-button {
    position: relative;
    padding: 10px;
    width: 200px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #6e04f8;
    outline: none;
    cursor: pointer;
    color: rgb(247, 231, 12);
    transition: .3s ease-in-out;
    overflow: hidden;
}

.cart-button:hover {
    background-color: #35269b;
}

.cart-button:active {
    transform: scale(.9);
}

.cart-button .fa-shopping-cart {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -10%;
    font-size: 2em;
    transform: translate(-50%, -50%);
}

.cart-button .fa-box {
    position: absolute;
    z-index: 3;
    top: -20%;
    left: 52%;
    font-size: 1.2em;
    transform: translate(-50%, -50%);
}

.cart-button span {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    font-size: 1.2em;
    color: #fff;
    transform: translate(-50%, -50%);
}

.cart-button span.add-to-cart {
    opacity: 1;
}

.cart-button span.added {
    opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
    animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked .fa-box {
    animation: box 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
    animation: txt1 1.5s ease-in-out forwards;
}

.cart-button.clicked span.added {
    animation: txt2 1.5s ease-in-out forwards;
}



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2804f3;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    transform: translateY(-4px);
    background: #0678e3;
    color: #fff;
}
/* --------------------------------- */

.cart:before {
    content: attr(data-count);
    color: white;
    position: absolute;
    right: -1px;
    font-size: 15px;
    text-align: center;
    top: 4px;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    opacity: 1;
}

.cart.zero:before {
    opacity: 1;
}

@keyframes cart {
    0% {
        left: -10%;
    }
    40%,
    60% {
        left: 50%;
    }
    100% {
        left: 110%;
    }
}

@keyframes box {
    0%,
    40% {
        top: -20%;
    }
    60% {
        top: 40%;
        left: 52%;
    }
    100% {
        top: 40%;
        left: 112%;
    }
}

@keyframes txt1 {
    0% {
        opacity: 1;
    }
    20%,
    100% {
        opacity: 0;
    }
}

@keyframes txt2 {
    0%,
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
